@model IEnumerable<Bank.Transfers.Models.Conta>

@{
    ViewData["Title"] = "Index";
}

<h1>Contas</h1>

<p>
    <a asp-action="Create">Criar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tipo da conta
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Saldo)
            </th>
            <th>
                Crédito
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TipoConta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Saldo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Credito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                <a asp-action="Sacar" asp-route-id="@item.Id">Sacar</a> |
                <a asp-action="Depositar" asp-route-id="@item.Id">Depositar</a> |
                <a asp-action="Transferir" asp-route-id="@item.Id">Transferir</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
